<ion-header>
  <ion-navbar>
    <ion-title *ngIf="currentMovie$ | async as movie">{{movie.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="movie-detail-main">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="backdrop" *ngIf="currentMovie$ | async as movie">
    <img *ngIf="movie.backdrop_path" [src]="'https://image.tmdb.org/t/p/w780' + movie.backdrop_path">
    <img *ngIf="!movie.poster_path" src="../assets/imgs/default_backdrop.jpg" />
  </div>


  <div class="movieheader">

    <div class="movieheader__poster" *ngIf="currentMovie$ | async as movie; else presentLoading()">
      <img *ngIf="movie.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
      <img *ngIf="!movie.poster_path" src="../assets/imgs/poster_unavailable.jpg" />
    </div>

    <div class="movieheader__details" *ngIf="currentMovie$ | async as movie;">
      <h1 class="movieheader__title">{{movie.title}}</h1>
      <div>{{movie.movieDescription}}</div>

      <div class="metaInfo text-grey genre"> |
        <span *ngFor="let genre of movie.genres; let i = index">
          <span *ngIf="i < 3">
            {{genre.name}} |
          </span>
        </span>
      </div>

      <div class="metaInfo">
        <span class="text-grey">Release Date: </span> {{movie.release_date}}
      </div>
      <div class="metaInfo">
        <span class="text-grey">Runtime: </span> {{getMinToHours(movie.runtime)}}
      </div>
      <div class="metaInfo">
        <span class="text-grey">Director:</span> John Doe
      </div>
      <div class="metaInfo">
        <span class="text-grey">Writer:</span> John Doe
      </div>
    </div>
  </div>


  <div class="movieheader__btngroup" *ngIf="currentMovie$ | async as movie;">

    <button ion-button small round solid color="secondary" *ngIf="!movieInWatchList$ || !isAuthenticated()" class="movieheader__btn"
      (click)="toggleWatchlistItem(movie.id, true)"> Add to Watchlist
    </button>

    <button ion-button small round outline color="secondary" *ngIf="movieInWatchList$" class="movieheader__btn" (click)="toggleWatchlistItem(movie.id, false)">Remove
      from Watchlist
    </button>

    <button ion-button small round solid color="secondary" *ngIf="!movieInFavouritesList$  || !isAuthenticated()" class="movieheader__btn"
      (click)="toggleFavouritesItem(movie.id, true)">Add to Favourites
    </button>

    <button ion-button small round outline color="secondary" *ngIf="movieInFavouritesList$" class="movieheader__btn" (click)="toggleFavouritesItem(movie.id, false)">Remove
      from Favourites
    </button>
  </div>

  <div class="moviePlot" *ngIf="currentMovie$ | async as movie;">
    <h4>Overview</h4>
    <p>{{movie.overview}}</p>
  </div>

  <div class="cast__slideshow" *ngIf="currentMovieCast$ | async as movieCast;">
    <h4>Cast</h4>
    <ion-slides slidesPerView="2.5">

      <div *ngFor="let castItem of movieCast.cast; let i = index">
        <div *ngIf="castItem.profile_path">
          <ion-slide *ngIf="i < 10" (click)="openActorDetail(castItem.id, castItem.name)">
            <img [src]="'https://image.tmdb.org/t/p/w200' + castItem.profile_path">
          </ion-slide>
        </div>
      </div>
    </ion-slides>
  </div>

  <div class="reviews-wrapper">
    <h4>Recent User Reviews</h4>

    <button ion-button small round solid color="secondary" class="reviews-btn" (click)="displayReviewModal()">Submit Review
    </button>

    <div *ngIf="!currentMovieReviews || currentMovieReviews.length == 0">
      <p>No Recent User Reviews</p>
    </div>

    <div *ngIf="currentMovieReviews && currentMovieReviews.length > 0">
      <div *ngFor="let review of currentMovieReviews">
        <div class="review">
          <div class="review__header">
            <img src="../assets/imgs/profile_pic.jpg" alt="" class="review__avatar">
            <div class="review__userinfo">
              <span class="review__name">{{review.username}}</span>
              <div class="span review__date">{{review.date}}</div>
            </div>
            <div class="review__rating">{{review.grade}}</div>
          </div>
          <div class="review__body">{{review.reviewText}}</div>
        </div>
      </div>
    </div>

  </div>

</ion-content>