<ion-header>
  <ion-navbar>
    <ion-title *ngIf="currentMovie$ | async as movie">{{movie.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="movie-detail-main">

  <div class="backdrop" *ngIf="currentMovie$ | async as movie">
    <img *ngIf="movie.backdrop_path" [src]="'https://image.tmdb.org/t/p/w780' + movie.backdrop_path">
  </div>


  <div class="movieheader">

    <div class="movieheader__poster" *ngIf="currentMovie$ | async as movie; else presentLoading()">
      <img *ngIf="movie.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
    </div>

    <div class="movieheader__details" *ngIf="currentMovie$ | async as movie;">
      <h1 class="movieheader__title">{{movie.title}}</h1>
      <div>{{movie.movieDescription}}</div>
      <div class="header-rating">
        <span class="tvdbLabel">TVDB</span>
        <strong>7.9</strong>/
        <span class="text-grey">10</span>
      </div>
      <div>
        <span class="text-grey">Runtime: </span> {{getMinToHours(movie.runtime)}}
      </div>
      <div>
        <span class="text-grey">Director:</span> John Doe
      </div>
      <div>
        <span class="text-grey">Writer:</span> John Doe
      </div>
    </div>

  </div>

  <!-- <div class="movieheader__btngroup" *ngIf="currentMovie$ | async as movie;">
    <button ion-button small round outline color="secondary" class="movieheader__btn" (click)="toggleWatchlistItem(movie.id)">Watchlist &nbsp;
      <ion-icon md="md-add"></ion-icon>
    </button>
    <button ion-button small round outline color="secondary" class="movieheader__btn" (click)="toggleFavouritesItem(movie.id)">Favourites &nbsp;
      <ion-icon md="md-heart-outline"></ion-icon>
    </button>
  </div> -->

  <div class="movieheader__btngroup" *ngIf="currentMovie$ | async as movie;">

      <button ion-button small round solid color="secondary" *ngIf="!movieInWatchList$ || !isAuthenticated()" class="movieheader__btn" (click)="toggleWatchlistItem(movie.id)">Watchlist &nbsp;
          <ion-icon md="md-add-circle"></ion-icon>
      </button>

      <button ion-button small round outline color="secondary" *ngIf="movieInWatchList$" class="movieheader__btn" (click)="toggleWatchlistItem(movie.id)">Watchlist &nbsp;
          <ion-icon md="md-remove-circle"></ion-icon>
      </button>

      <button ion-button small round solid color="secondary" *ngIf="!movieInFavouritesList$  || !isAuthenticated()" class="movieheader__btn" (click)="toggleFavouritesItem(movie.id)">Favourites &nbsp;
          <ion-icon md="md-heart-outline"></ion-icon>
      </button>

      <button ion-button small round outline color="secondary" *ngIf="movieInFavouritesList$" class="movieheader__btn" (click)="toggleFavouritesItem(movie.id)">Favourites &nbsp;
          <ion-icon md="md-heart"></ion-icon>
      </button>
  </div>


  <div class="movienav-wrap">
    <ul class="movienav">
      <li class="movienav__item movienav__item--active">
        <a href="#">Info</a>
      </li>
      <li class="movienav__item">
        <a href="#">Trailer</a>
      </li>
      <li class="movienav__item">
        <a href="#">Comments</a>
      </li>
      <li class="movienav__item">
        <a href="#">Awards</a>
      </li>
      <li class="movienav__item">
        <a href="#">Reviews</a>
      </li>
    </ul>
  </div>

  <div class="moviePlot" *ngIf="currentMovie$ | async as movie;">
    <p>{{movie.overview}}</p>
  </div>

</ion-content>