<ion-header>
  <ion-navbar>
    <ion-title>{{this.actorName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="actor__content">

  <div class="actor">
    <div class="actor__backdrop"></div>
    <div *ngIf="currentActorDetails$ | async as actorDetail">
      <div class="actor__img">
        <img *ngIf="actorDetail.profile_path" [src]="'https://image.tmdb.org/t/p/w200' + actorDetail.profile_path" />
        <img *ngIf="!actorDetail.profile_path" src="../assets/imgs/poster_unavailable.jpg" />
        <h1 class="actor__name">{{actorDetail.name}}</h1>
      </div>

      <div class="actor__bio">
        <div class="inner__bio">
          <h4>Biography</h4>
          <p>
            {{actorDetail.biography}}
          </p>
        </div>

      </div>
    </div>



    <div *ngIf="currentActorCredits$ | async as actorCredits" class="watchlist">

      <ion-list *ngFor="let movie of actorCredits.cast; let i = index">

        <ion-item *ngIf="i < this.pageLimit" (click)="openMovieDetail(movie.id)">
          <div class="watchitem">
            <div class="watchitem__poster">
              <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" />
              <img *ngIf="!movie.poster_path" src="../assets/imgs/poster_unavailable.jpg" />
            </div>
            <div class="watchitem__details">
              <div class="watchitem__title">{{movie.title}}</div>
              <p class="watchitem__plot">{{movie.overview | slice:0:250}} ... </p>
            </div>
          </div>

        </ion-item>

      </ion-list>

      <ion-infinite-scroll class="actorInfiniteScroll" (ionInfinite)="doInfinite($event, actorCredits.cast.length)">
        <ion-infinite-scroll-content loadingText="Loading more movies...">

        </ion-infinite-scroll-content>
      </ion-infinite-scroll>


    </div>
  </div>

</ion-content>