<ion-header>
  <ion-navbar>

    <button start ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Browse</ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="homepage-main">

  <div class="homepage-slides" padding *ngIf="nowPlayingMovies$ | async as movies; else loading">

    <ion-slides pager autoplay="2500" loop="true">
      <div *ngFor="let movie of movies.results; let i = index">
        <div *ngIf="movie.backdrop_path">
          <ion-slide *ngIf="i < 8" (click)="openMovieDetail(movie.id)">
            <img src="http://image.tmdb.org/t/p/w780/{{movie.backdrop_path}}">
            <div class="centered">
              <h2>{{movie.title}}</h2>
            </div>
          </ion-slide>
        </div>
      </div>
    </ion-slides>
  </div>

  <h1 *ngIf="popularMovies$">Latest Releases</h1>

  <div class="movies-flex" *ngIf="popularMovies$ | async as movies; else loading">
    <div class="movie" *ngFor="let movie of movies.results" (click)="openMovieDetail(movie.id)">
      <div class="poster">
        <img *ngIf="movie.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
        <!-- <img *ngIf="movie.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"> -->
      </div>
      <div class="title">
        <b>{{ movie.title }} {{ movie.release_date | date:'yyyy' }}</b>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>

  <div id="loadmore-button">
    <Button ion-button>Load More</Button>
  </div>

</ion-content>