<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Watchlist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: #f0f4f4">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="detailedWatchlist$?.length > 0" class="watchlist">
    <ion-list *ngFor="let obs of detailedWatchlist$.reverse(); let i = index">

      <ion-item *ngIf="i < this.itemLimit && obs | async as movie" (click)="openMovieDetail(movie.id)">
        <div class="watchitem">

          <div (click)=" removeItemFromWatchlist(detailedWatchlist$.length, i, movie.id, movie.title); $event.stopPropagation(); "
            class="watchitem__deletebtn">
            <ion-icon name="close"></ion-icon>
          </div>

          <div class="watchitem__poster">
            <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" />
            <img *ngIf="!movie.poster_path" src="../assets/imgs/poster_unavailable.jpg" />
          </div>
          <div class="watchitem__details">
            <div class="watchitem__title">{{movie.title}}</div>
            <div class="watchitem__genre">
              <span *ngFor="let genre of movie.genres; let i = index">
                <span *ngIf="i < 2">
                  {{genre.name}} |
                </span>
              </span>
            </div>
            <div class="watchitem__length">{{getMinToHours(movie.runtime)}}</div>
            <p class="watchitem__plot">{{movie.overview | slice:0:68}} ... </p>
          </div>
        </div>

      </ion-item>

    </ion-list>

    <ion-infinite-scroll class="actorInfiniteScroll" (ionInfinite)="doInfinite($event, detailedWatchlist$?.length)">
      <ion-infinite-scroll-content loadingText="Loading more movies...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

  <div *ngIf="detailedWatchlist$?.length === 0">
    <h1 class="no-watchlist">No Items in the Watchlist</h1>
  </div>

</ion-content>