// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.side__menu {
    background-color: #ffffff;
    color: #333338;
}

.sidebarbackdrop {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    background-size: 200%;
    -webkit-filter: blur(1px);
    z-index: -1;
    position: relative;
}

.sidebarprofile {
    margin-top: -3em;
    text-align: center;
}

.sidebarprofile__img img {
    border-radius: 90px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border: 5px solid #fff;
}

.sidebarprofile__email {
    font-weight: bold;
    font-size: 1.5em;
}

.sidebarprofile__link {
    text-decoration: none;
    margin: 5px;
    display: inline-block;
}

/********************* MOVIE RATING CSS (DEFAULT THERE) *************************/
.br-default .br-units {
    align-items: center;
}
.br-default .br-unit {
    margin-right: 5px;
    font-size: 38px;
    height: 38px;
    width: 38px;
}
.br-default .br-unit:after {
    content: "\2605";
    color: #d2d2d2;
}
.br-default .br-selected:after {
    color: #edb867;
}
.br-default .br-active:after {
    color: #edb867;
}

.br-movie .br-units {
    margin: 15px 0;
}
.br-movie .br-unit {
    display: block;
    width: 60px;
    height: 8px;
    float: left;
    background-color: #bbcefb;
    margin: 1px;
}
.br-movie .br-unit.br-active,
.br-movie .br-unit.br-selected {
    background-color: #4278f5;
}
.br-movie.br-readonly .br-active,
.br-movie.br-readonly .br-selected {
    background-color: #729bf8;
}
.br-movie .br-text {
    letter-spacing: 2px;
    font-size: 16px;
    clear: both;
    width: 240px;
    text-align: center;
    font-weight: 600;
    display: block;
    color: #4278f5;
}

/********************* MOVIE RATING CSS (FONT AWESOME THERE) *************************/

.br-fontawesome .br-units {
    align-items: center;
}
.br-fontawesome .br-unit {
    font: normal normal normal 20px/1 FontAwesome;
    margin-right: 2px;
}
.br-fontawesome .br-unit:after {
    content: "\f005";
    color: #d2d2d2;
}
.br-fontawesome .br-selected:after {
    color: #edb867;
}
.br-fontawesome .br-active:after {
    color: #edb867;
}
